.EikaStyles {
  width: 280px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-weight: bold;
}
.btn-primary {
  font-size: 30px !important;
  background-color: rgb(255, 0, 0) !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  color: yellow !important;
  border: black solid 1px !important;
  border-radius: 20px !important;
}
.card {
  border: none !important;
  background-color: transparent !important;
}
.btnText {
  box-shadow: none !important;
}
