.EikaStyles {
  border-radius: 15px;
  width: 300px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.card-text {
  font-size: 30px;
  position: relative;
  left: 39%;
}
.card-title {
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: bold;
}
.btn-primary {
  font-size: 20px !important;
  background-color: rgb(255, 0, 0) !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.card {
  border: none !important;
}
