.container {
  margin: 10px;
  height: 70rem;
  text-align: center;
  white-space: pre-line;
}
.container h1 {
  font-weight: bold;
  font-size: 5rem;
  color: black;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
.container-inside {
  height: 44rem;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
.container p {
  padding-top: 5px;
  font-size: 26px;
  font-weight: bold;
  color: black;
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
    1px 1px 0 yellow;
}
