.container {
  margin: 20px;
  border: 4px solid black;
  height: 70rem;
  text-align: center;
  padding-top: 20px;
  border-radius: 2rem;
  white-space: pre-line;
}
.container h1 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 52px;
}
.container-inside {
  height: 44rem;
}
.container p {
  font-size: 24px;
  color: black;
}
