.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.KoroneStyles {
  width: 600px;
  border: 1px solid #000000;
  border-radius: 1rem;
  margin-top: 30px;
}
